*{
    margin:0;
}
section{
    display: flex;
    align-content: space-between;
}
video{
   width: 20vw;
   text-align: center;
}
.music{
    border: 1px solid rgb(61, 228, 39);
    background-color: darkolivegreen;
    border-radius: 45px;
    padding: 25px;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-bottom: 5vh;
}
.Title{
    color: darkorchid;
    font-size:xx-large
}